<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 允许作为 HTTP 服务端监听 -->
    <key>com.apple.security.network.server</key>
    <true/>
    <!-- 允许发起 HTTP 连接 -->
    <key>com.apple.security.network.client</key>
    <true/>
    <!-- 读取用户选择的文件 -->
    <key>com.apple.security.files.user-selected.read-write</key>
    <true/>
    <!-- 下载目录 -->
    <key>com.apple.security.files.downloads.read-write</key>
    <true/>
    <!-- 调试允许 JIT -->
    <key>com.apple.security.cs.allow-jit</key>
    <true/>
    <key>com.apple.security.cs.allow-unsigned-executable-memory</key>
    <true/>
    <key>com.apple.security.cs.debugger</key>
    <true/>
</dict>
</plist>
